

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.col-md-6
{

  padding: 0;
}
#myT{
  overflow:hidden;
   background-color:black;
}
